apiVersion: {{ ciliumAPIversion }}
kind: CiliumL2AnnouncementPolicy
metadata:
  name: l2selection
  namespace: "kube-system"
spec:
  nodeSelector:
    matchExpressions:
      - key: node-role.kubernetes.io/control-plane
        operator: DoesNotExist
  externalIPs: true
  loadBalancerIPs: true
